@{
    ViewBag.Title = "About";
}
<h2 class="text-center">SOBRE NOSOTROS</h2>
<p class="text-center">
    <strong> <span class="fa fa-location-arrow"> </span> Ubicacion:</strong> Calle Centro, Tijuana, Baja California, México <span class="fa fa-location-arrow"> </span><br />
    <strong> <span class="fa fa-phone"> </span>  Telefono:</strong> (664)4201578 <span class="fa fa-phone"> </span> <br />
    <span class="fa fa-star"> </span> Somos el museo que incluye replicas de los mayores exponentes del arte como obras, esculturas y pinturas de los mejores artistas del mundo,
    <br /> esta idea fue fundada ya que somos pobres y no podemos ir a los museos más importantes del mundo así que por eso creamos el de las replicas. <span class="fa fa-star"> </span>
</p>

<div class="row justify-content-center m-4">
    <a href="@Url.Action("Index", "Principal")"> <img class="align-content-center" src="~/Content/img/museo.png" width="800" height="400"> </a>
</div>
