@{
    ViewBag.Title = "Contact";
}
<h2 class="text-center">Contacto</h2>
<h3 class="text-center">Datos del Alumnos</h3>

<div class="row justify-content-center m-4">
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-header bg-dark">
                <h5 class="text-white text-center">Cisneros Acosta <br>Jose Enrique </h5>
            </div>
            <div class="card-body">
                <p class="text-center">
                    <strong> <span class="fa fa-user-circle"> </span>  Puesto:</strong> Admnistrador<br />
                    <strong> <span class="fa fa-cogs"> </span>  N° Control:</strong> 17211668<br />
                    <strong> <span class="fa fa-info-circle"> </span>  Carrera:</strong> Ingenieria Informática<br />
                    <strong> <span class="fa fa-star"> </span>  Semestre:</strong> 6to Semestre<br />
                    <strong> <span class="fa fa-paper-plane"> </span>  Correo Electronico:</strong> <a href="mailto:jose.cisneros17@tectijuana.edu.mx">jose.cisneros17@tectijuana.edu.mx</a><br />
                    <div class="row justify-content-center m-4">
                        <img class="align-content-center" src="~/Content/img/fotoquique.jpg" width="150" height="150">
                    </div>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-header bg-dark">
                <h5 class="text-white text-center">Chavez Lopez <br /> Eduardo Guillermo</h5>
            </div>
            <div class="card-body">
                <p class="text-center">
                    <strong> <span class="fa fa-user-circle"> </span>  Puesto:</strong> Admnistrador<br />
                    <strong> <span class="fa fa-cogs"> </span>  N° Control:</strong> 17212334<br />
                    <strong> <span class="fa fa-info-circle"> </span>  Carrera:</strong> Ingenieria Informática<br />
                    <strong> <span class="fa fa-star"> </span>  Semestre:</strong> 6to Semestre<br />
                    <strong> <span class="fa fa-paper-plane"> </span>  Correo Electronico:</strong> <a href="mailto:eduardo.chavez17@tectijuana.edu.mx">eduardo.chavez17@tectijuana.edu.mx</a><br />
                    <div class="row justify-content-center m-4">
                        <img class="align-content-center" src="~/Content/img/fotolalito.jpg" width="150" height="150">
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>